#navbar {
font-family: fantasy;
font-size: 100%;
color: black;

}

#main{
  color:white;
  font-family: Times;
  text-align: center;
  font-size: 120%;

}

body {
background-image: url('https://kabirsamsi.github.io/Digital-Portfolio/Screen%20Shot%202018-09-19%20at%202.40.50%20PM.png');
}

#sub {
  font-family: cursive;
}

a {
color: white;
}

.artworkImgs {
border-color: red;

}

.descLinks {
font-family: Times;
font-size: 120%;
color: green;

}

#thingHead {
color: red;

}

#homeHead {
color: red;


}

#menu {
font-family: Times;
}
