#navbar {
font-family: fantasy;
font-size: 100%;
color: black;

}

#main{
  color:white;
  font-family: Times;
  text-align: center;
  font-size: 120%;

}

body {
background-image: url('https://kabirsamsi.github.io/Digital-Portfolio/Screen%20Shot%202018-09-19%20at%202.40.50%20PM.png');
}

#sub {
  font-family: cursive;
}

a {
color: white;
}

.artworkImgs {
border-color: red;
spin: 360

}

.descLinks {
font-family: Times;
font-size: 120%;
color: lightgray;

}

#thingHead {
color: red;

}

#homeHead {
color: red;


}

#menu {
font-family: Times;
}

.options {
font-family: Times;
}

#sculpture {
    webkit-transform: rotate(90deg);
    moz-transform: rotate(90deg);
    o-transform: rotate(90deg);
    ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#donatello {
  height: 390px;
}

#sculpture1 {
  height: 500px;
  width: 400px;
}

#compute {
  height: 400px;
}
