#navbar {
font-family: fantasy;
font-size: 100%;
color: black;

}

#main{
  color:white;
  font-family: Times;
  text-align: center;
  font-size: 120%;

}

body {
background-image: url("https://raw.githubusercontent.com/KabirSamsi/Digital-Portfolio/master/backgrounds/rainbow.png");
}

#sub {
  font-family: cursive;
}

a {
color: white;
}

.artworkImgs {
  border-color: red;
  spin: 360;
  margin-left: 50px;


}

.descLinks {
font-family: Times;
font-size: 20px;
color: lightgray;
margin-left: 140px;

}

#thingHead {
color: red;

}

#homeHead {
color: red;


}

#menu {
font-family: Times;
}

.options {
font-family: Times;
}

#sculpture {
    webkit-transform: rotate(90deg);
    moz-transform: rotate(90deg);
    o-transform: rotate(90deg);
    ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#donatello {
  height: 390px;
}

#sculpture1 {
  height: 500px;
  width: 400px;
}

#compute {
  height: 400px;
}

#computer2 {
  webkit-transform: rotate(270deg);
  moz-transform: rotate(270deg);
  o-transform: rotate(270deg);
  ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#pw {
  width: 565px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  border-color: black;
  border-width: 1.5px;
}

#confirm {
  color: black;
  background-color: aqua;
  width: 200px;
  border-color: black;
  border-width: 3.5px;
  height: 40px;
  font-size: 18px;
}

#vangoghpic {
  height: 380px;
}

#link2, #link2_ {
  color: #3382ea;
}

p {
  margin-left: 5px;
  margin-right: 5px;
}

.space {
  margin-left: 85px;
}

.space_img {
  margin-left: 50px;
}

#first {
  margin-left: 125px;
}

#third {
  margin-left: 175px;
}

#fourth {
  margin-left: 200px;
}

#sculpture3 {
  margin-right: 20px;
}

#sculpt3 {
  margin-left: 0px;
  margin-right: 10px;
}

#still {
  margin-left: 125px;
}

#art {
  margin-left: 100px;
}

#con {
  margin-left: 100px;
  margin-right: 50px;
}

#con2 {
  margin-left: 20px;
  margin-right: 50px;
}

#first_link, #second_link, #third_link, #fourth_link {
  margin-left: 110px;
}

#fourth_link {
  margin-left: 70px;
}

#first_img {
  margin-left: 80px;
}

#first_perspective {
  margin-left: 85px;
}
